<section id="schedule-section" class="schedule-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-5">Schedule</h3>
        <div>
            <script type="text/javascript" src="https://sessionize.com/api/v2/xsfibrpi/view/GridSmart"></script>
        </div>
        {% if site.showTicketSale %}
        <div class="schedule-cta text-center mx-auto mt-5">
            <a href="{{site.pretix}}" class="btn btn-secondary btn-lg" target="_blank">Buy Tickets</a>
        </div>
        {% endif %}
    </div>
</section>