<section id="schedule-section" class="schedule-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-5">Schedule</h3>
        <div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">8:00</h4>
                </div>
                <div class="col-12">
                    <h5 class="title mb-3">Doors open...</h5>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">9:00 - 9:15</h4>
                </div>
                <div class="col-12">
                    <div class="text-center theme-bg-light">Berlin</div>
                    <h5 class="title mb-3">Welcome & Opening Note 🎉</h5>
                    <div class="meta">
                        <img src="./assets/images/speakers/nko.jpg"  style="width: 50px" class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" alt="Niko Köbler">
                        Niko Köbler, Host & Organizer
                    </div>
                    <div class="meta">
                        <img src="./assets/images/speakers/sro.jpg"  style="width: 50px" class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" alt="Sebastian Rose">
                        Sebastian Rose, Host & Organizer
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">9:15 - 9:45</h4>
                </div>
                <div class="col-12">
                    <div class="text-center theme-bg-light">Berlin</div>
                    {% include talk.html id=1 %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">10:15 - 11:00</h4>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Berlin</div>
                    {% include talk.html id=7 %}
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Bucharest</div>
                    {% include talk.html id=10 %}
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Private Bar</div>
                    {% include talk.html id=17 %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">11:15 - 11:45</h4>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Berlin</div>
                    {% include talk.html id=3 %}
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Bucharest</div>
                    {% include talk.html id=12 %}
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Private Bar</div>
                    {% include talk.html id=11 %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">12:00 - 12:30</h4>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Berlin</div>
                    {% include talk.html id=9 %}
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Restaurant</div>
                    <h5 class="title mb-3">Lunch I</h5>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">12:45 - 13:15</h4>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Berlin</div>
                    {% include talk.html id=18 %}
                </div>

                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Restaurant</div>
                    <h5 class="title mb-3">Lunch II</h5>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">13:30 - 14:15</h4>
                </div>
                <div class="col-12">
                    <div class="text-center theme-bg-light">Berlin</div>
                    <h5 class="title mb-3">Meet the Maintainers</h5>
                    <div class="row">
                        <div class="meta col-6 col-lg-4 col-xl-3">
                            <img src="./assets/images/speakers/as.jpg"  style="width: 50px" class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" alt="Alexander Schwartz">
                            Alexander Schwartz
                        </div>
                        <div class="meta col-6 col-lg-4 col-xl-3">
                            <img src="./assets/images/speakers/thomasdarimont.jpg"  style="width: 50px" class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" alt="Thomas Darimont">
                            Thomas Darimont
                        </div>
                        <div class="meta col-6 col-lg-4 col-xl-3">
                            <img src="./assets/images/speakers/tnorimat.jpg"  style="width: 50px" class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" alt="Takashi Norimatsu">
                            Takashi Norimatsu
                        </div>
                        <div class="meta col-6 col-lg-4 col-xl-3">
                            <img src="./assets/images/speakers/sschu.jpg"  style="width: 50px" class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" alt="Sebastian Schuster">
                            Sebastian Schuster
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">14:30 - 15:15</h4>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Berlin</div>
                    {% include talk.html id=14 %}
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Bucharest</div>
                    {% include talk.html id=5 %}
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Private Bar</div>
                    {% include talk.html id=2 %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">15:45 - 16:15</h4>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Berlin</div>
                    {% include talk.html id=6 %}
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Bucharest</div>
                    {% include talk.html id=19 %}
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Private Bar</div>
                    {% include talk.html id=8 %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">16:30 - 17:00</h4>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Berlin</div>
                    {% include talk.html id=13 %}
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Bucharest</div>
                    {% include talk.html id=16 %}
                </div>
                <!--div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Private Bar</div>
                    <h5 class="title mb-3">Open Space / Unconf</h5>
                    <div class="profile mb-3">
                        <div class="name">Participan-driven, self-organizing, it's up to you!</div>
                    </div>
                </div-->
            </div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">17:15 - 17:45</h4>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Berlin</div>
                    {% include talk.html id=4 %}
                </div>
                <div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Bucharest</div>
                    {% include talk.html id=15 %}
                </div>
                <!--div class="col-12 col-lg-4">
                    <div class="text-center theme-bg-light">Private Bar</div>
                    <h5 class="title mb-3">Open Space / Unconf</h5>
                    <div class="profile mb-3">
                        <div class="name">Participan-driven, self-organizing, it's up to you!</div>
                    </div>
                </div-->
            </div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">17:45 - 18:00</h4>
                </div>
                <div class="col-12">
                    <div class="text-center theme-bg-light">Berlin</div>
                    <h5 class="title mb-3">Closing Note 👋</h5>
                    <div class="meta">
                        <img src="./assets/images/speakers/nko.jpg"  style="width: 50px" class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" alt="Niko Köbler">
                        Niko Köbler, Host & Organizer
                    </div>
                    <div class="meta">
                        <img src="./assets/images/speakers/sro.jpg"  style="width: 50px" class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" alt="Sebastian Rose">
                        Sebastian Rose, Host & Organizer
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 mb-1">
                    <h4 class="py-2 text-center theme-bg-primary text-white mb-0">18:00 - ...</h4>
                </div>
                <div class="col-12">
                    <h5 class="title mb-3">Afterwork Party @ GREET Hotel</h5>
                </div>
            </div>
        </div>
        {% if site.showTicketSale %}
        <div class="schedule-cta text-center mx-auto mt-5">
            <a href="{{site.pretix}}" class="btn btn-secondary btn-lg" target="_blank">Buy Tickets</a>
        </div>
        {% endif %}
    </div><!--//container-->
</section><!--//schedule-section-->