<section id="schedule-section" class="schedule-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Overview of Talks</h3>
        <div class="section-intro text-center single-col-max mx-auto mb-5">
            We're currently building the schedule, please allow us some time.
        </div><div>
            <script type="text/javascript" src="https://sessionize.com/api/v2/xsfibrpi/view/Sessions"></script>
        </div>
                
        {% if site.showTicketSale %}
        <div class="schedule-cta text-center mx-auto"><a href="{{site.pretix}}" class="btn btn-secondary btn-lg" target="_blank">Buy Tickets</a></div>
        {% endif %}
    </div>
</section>