{% assign talk = site.data.talks | where: "id", include.id | first %}
{% assign speaker = site.data.speakers | where: "key", talk.speaker | first %}
<h5 class="title mb-3">
    <a href="#modal-talk-{{talk.id}}" class="text-dark" data-bs-toggle="modal" data-bs-target="#modal-talk-{{talk.id}}">{{talk.title}}</a>
</h5>
<div>
{% include speaker-info-short.html talk=talk %}
</div>
{% if talk.links %}
<div class="list-group">
    {% for link in talk.links %}
    <a href="{{link.url}}" target="_blank" class="list-group-item list-group-item-action"><i class="fa fa-link"></i>&nbsp;{{link.type}}</a>
    {% endfor %}
</div>
{% endif %}
